.Navigation {
    &-ltem {
        &-Link {
            text-decoration: none;
        }
        color: a red;
    }
    color: a red;
}

// CUANDO PONES EL _ EN EL NOMBRE DEL ARCHIVO, YA NO TE GENERA UN ARCHIVO CSS PARA CADA SASS