.container {
    background-color: rgb(255, 230, 0);
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
}

img {
    width: 70px;
    height: 50px;
}

form {
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 600px;
    height: 40px;
}

.lupa {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.buscar {
    width: 600px;
    height: 40px;
    padding: 10px 60px 10px 15px;
    border: none;
    
}


.contenedor-descarga {
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding-top: 5px;
}

.descarga {
    a {
        text-decoration: none;
        color: black;
    }
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    padding: 8px 10px;
}

.img-descarga {
    width: 30px;
    height: 30px;
}